<h1>Password Checker</h1>

<form action="check_password" method="get">
  <input type="text" name="username" placeholder="Username" required autofocus>
  <br>
  <br>
  <input type="password" name="password" placeholder="Password" required>
  <br>
  <br>
  <input type="submit" value="Submit">
</form>
